{{page-title "ember-breadcrumb-trail"}}
{{breadcrumb "Home" route="index"}}

<nav aria-label="primary">
  <ol>
    <li>
      <LinkTo @route="index">Home</LinkTo>
    </li>
    <li>
      <LinkTo @route="foo">Foo</LinkTo>
    </li>
    <li>
      <LinkTo @route="foo.bar">Bar</LinkTo>
    </li>
    <li>
      <LinkTo @route="foo.bar.baz">Baz</LinkTo>
    </li>
  </ol>
</nav>

<nav aria-label="breadcrumbs">
  <ol>
    {{#each (breadcrumbs) as |breadcrumb|}}
      <li>
        {{#if breadcrumb.route}}
          <LinkTo @route={{breadcrumb.route}}>
            {{breadcrumb.title}}
          </LinkTo>
        {{else}}
          {{breadcrumb.title}}
        {{/if}}
      </li>
    {{/each}}
  </ol>
</nav>

{{outlet}}